body
{
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Montserrat";
  font-weight: 900;
}

h2
{
  font-size: 3rem;
  line-height: 1.5;
}

h3
{
  font-size: 1.5rem;
}

p
{
  color: #8f8f8f;
}

/* Headings */

.big-heading
{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.spacing
{
  margin-left: auto;
  margin-right: auto;
}

.container-fluid
{
  padding: 7% 15%;
}

/* Sections */

.coloured-section
{
  background-color: #ff4c68;
  color: #fff;
}

.white-section
{
  background-color: #fff;
}

.title-fluid
{
  padding: 3% 15% 7%;
}

#title
{
  padding-bottom: 5%;
  text-align: left;
}

/* Navbar */

.navbar
{
  padding: 0 0 4.5rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item
{
  padding: 0 18px;
}

.nav-link
{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
}

/* Dowload Buttons */

.download-button
{
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image
{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */

#features
{
  position: relative;
}

.feature-box
{
  padding: 5%;
}

.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover
{
  color: #ff4c68;
}

/* Testimonials */

#testimonials
{
  background-color: #ef8172;
}

.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press
{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo
{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing
{
  padding: 3%;
}

.pricing-column
{
  padding: 3% 2%;
}

@media (max-width: 1028px)
{
  .title-image
  {
    position: static;
    transform: rotate(0);
  }

  #title
  {
    text-align: center;
  }
}

/* CTA */

#cta
{
  color: #fff;
}

/* Footer */

.social-icon
{
  margin: 20px 10px;
}
